In [1]:
#importing the libraries
import pandas as pd
import numpy as np

In [2]:
#reading the dataset
df=pd.read_csv("salary_encoding.csv")

In [3]:
df.head()

  Country  Age  Salary
0   India   44   72000
1      US   34   65000
2   Japan   46   98000
3      US   35   45000
4   Japan   23   34000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  5 non-null      object
 1   Age      5 non-null      int64
 2   Salary   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

<!-- Country, is the categorical feature as it is represented by the object data type and the rest of them are numerical features as they are represented by int64. -->

In [9]:
# Country, is the categorical we need to convert it into numerical 
# Import label encoder 
from sklearn import preprocessing
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Country'. 
df['Country']= label_encoder.fit_transform(df['Country']) 
print(df.head())

   Country  Age  Salary
0        0   44   72000
1        2   34   65000
2        1   46   98000
3        2   35   45000
4        1   23   34000

#### As you can see here, label encoding uses alphabetical ordering. Hence, India has been encoded with 0, the US with 2, and Japan with 1